body {
  display: block;
  right: 0;
  background-color: rgb(204, 181, 181);
  height: 1500px;
  text-align: center;
}

#nav-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: aliceblue;
  height: 30px;
}

#nav-link {
  font-size: large;
  text-align: center;
  position: relative;
}

#header-img {
  position: relative;
  top: 20px;
  padding: 2%;
}
@media screen and (min-width: 600px) {
  body {
    color: black;
  }
}

#package-container {
  display: flex;
  flex-direction: column;
  font-size: large;
}

#baseball-things {
  font-size: 30px;
}
